.routeBtn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: #7d6444;
}

.image {
    display: block;
    width: 20px;
    height: 20px;
}

.text {
    margin-top: 4px;
    font-size: 9px;
}