.routeBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #FFD700 0%, #FFA500 50%, #FF8C00 100%);
}

.image {
    display: block;
    width: 45px;
    height: 45px;
}

.text {
    margin-top: 4px;
    font-size: 10px;
}