@import url('../../assets//fonts/fontbenzin.css');

/* Block dragging */

img, button {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

img {
    pointer-events: none;
}

/*  */


.clickerBackground {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: url('../../assets/images/backgrounds/Clickerbg.png') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    font-family: 'Benzin', sans-serif;
    color: #fff;
    
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.topSection {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.centerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.starInfo {
    display: block;
    width: 35px;
    height: 35px;
}

.star {
    display: block;
    width: 250px;
    height: 250px;
    justify-self: center;
    align-self: center;
}


.actionBtn {
    background: transparent;
    border: none;
    width: 300px;
    height: 300px;
    transform: scale(1);
    transition: all .05s ease;
}

.pressed {
    transform: scale(1.1);
}

.actionCount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 35px;
}

.actionStamina {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staminaWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.stamina {
    font-size: 12px;
}


.light {
    display: block;
    height: 20px;
    width: 15px;
}

.staminaProgressContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.rankContainer {
    display: flex;
    justify-content: space-between;
    width: 88%;
}

.staminaBar {
    width: 90%;
    height: 20px;
    border-radius: 30px;
    overflow: hidden; 
    background-color: rgba(255, 255, 255, 0.2); 
    border: 3px solid #33221e; 
}

.staminaBar::-webkit-progress-value {
  background-color: #a8630b; /* Золотой цвет */
}


